SUPABASE_PROJECT_ID="plpcjdkaunmptcvlbbve"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_62iklNQr_s68vE4VFw4xjA_umSME4uC"
SUPABASE_URL="https://c--5a11929c-a2cd-4d2a-be61-0de269e030cd-prod.lovable.cloud"
VITE_SUPABASE_PROJECT_ID="plpcjdkaunmptcvlbbve"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_62iklNQr_s68vE4VFw4xjA_umSME4uC"
VITE_SUPABASE_URL="https://c--5a11929c-a2cd-4d2a-be61-0de269e030cd-prod.lovable.cloud"
